<div>


    <div class="col-xs-5">
        <table class="table" ng-show='archive_games'>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Тип</td>
                    <td>Белые</td>
                    <td>Черные</td>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="game in archive_games">
                    <td>{{game.id}}</td>
                    <td>{{game.game_type}}</td>
                    <td>{{game.white_id}}</td>
                    <td>{{game.black_id}}</td>
                </tr>
            </tbody>
        </table>
    </div>

	<div class="col-xs-7" ui-view></div>
</div>