<div ng-show='turns'>

    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
        <div class="panel panel-success">
            <div class="panel-heading">
                <label>Ходов {{turns.length}} за 10 минут - показано {{results.length}} ходов</label>
                <input class="form-control" ng-model="search" placeholder="Фильтрация">
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ход</th>
                            <th>ID игры</th>
                            <th>ID игрока</th>
                            <th>Цвет</th>
                            <th>Номер</th>
                            <th>Время хода</th>
                            <th>Обдумывание</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="turn in turns | filter:search | limitTo:100 as results">
                            <td>{{$index +1}}</td>
                            <td>{{turn.turn}}</td>
                            <td><linkid ng-click='searchID(turn.game_id)' class="btn btn-link btn-xs">{{turn.game_id}}</linkid></td>
                            <td><linkid ng-click='searchID(turn.user_id)' class="btn btn-link btn-xs">{{turn.user_id}}</linkid></td>
                            <td><span class="glyphicon {{turn.color?'glyphicon-ok-sign':'glyphicon-ok-circle'}}">{{turn.color?' Черные':' Белые'}}</span></td>
                            <td>{{turn.num}}</td>
                            <td>{{time.setTime(+turn.time)?time.toLocaleString():0}}</td>
                            <td>{{turn.time_for_turn_client}}</td>
                            <td><a class="glyphicon glyphicon-share-alt" ng-href="http://1chess.org/#/game/{{turn.game_id}}_{{server}}"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-1">
    </div>
	<div ui-view></div>
</div>